### Python Fundamentals
This notebook will cover topics related to Python basics/fundamentals. Below are the topics that will be covered:
1. Python Output Function
2. Introduction to Data types
3. Introduction to Variables
4. How to use comments in Python
5. Keywords and Identifiers
6. How to take user input
7. Type Conversion
8. Literals

---

#### 1. Python Output Function
This section of the notebook will talk about the way in which we can display our output. The function that helps us to do so is <b>print()</b> function

In [1]:
print('This is my forst python program')

This is my forst python program

In [2]:
# Printing string
print('Pratik Kumar')

Pratik Kumar

In [3]:
print(Pratik Kumar)

SyntaxError: invalid syntax (1404312844.py, line 1)

It is throwing an error because we need to provide string within inverted commas else Python will confuse what to print. Same is not th case with other data types

In [4]:
# Printing integer
print(9674)

9674

In [5]:
# Printing float
print(7.74567)

7.74567

In [ ]:
# Printing Boolean
print(True)

True

In [6]:
# Print function is so powerful that it can print different data types in a single function, which is not the case with
# other programming languages
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [7]:
# print function has a parameter seperated by which we can set to any value
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [8]:
# Here the print function displays the values in different lines as the end parameter is set to new line by default
print('hello')
print('world')

hello
world

In [9]:
# If we change the end parameter we can get result in different format
print('hello',end='-')
print('world')

hello-world

---

#### 2. Introduction to Data types
Below are the data types which are comonly used in Python<br>
a. Integer<br>
b. Decimal/Float<br>
c. Boolean<br>
d. String/Text<br>
e. Complex Numbers<br>
f. List<br>
g. Tuple<br>
h. Sets<br>
i. Dictionary

In [10]:
# Integer
print(5678)

# The highest number that python can handle is 10^308
print(1e308)
print(1e309)

5678
1e+308
inf

In [11]:
# Decimal/Float
print(456.7627)

# The highest decimal that python can handle is 1.7*10^308
print(1.7e308)
print(1.7e309)

456.7627
1.7e+308
inf

In [12]:
# Boolean
print(True)
print(False)

True
False

In [13]:
# Text/String
print('I love Data Science')

I love Data Science

In [14]:
# complex
print(7+2j)

(7+2j)

In [15]:
# List
# Lists are mutable
print([1,2,3,4,5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# Tuple
# Tuple are immutable
print((1,2,3,4,5,6,7,8,9))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
# Sets
print({1,2,3,4,5,6,7,8,9})

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# Dictionary
print({'name':'Pratik','age':'30','gender':'Male','weight':70})

{'name': 'Pratik', 'age': '30', 'gender': 'Male', 'weight': 70}

In [19]:
# type function
# By using type function, we can get to know the data type 
type((1,2,3,4,5))

tuple

---

#### 3. Introduction to Variables
Variables are something that we use to store any values. Below are the 3 things important w.r.t. variables:<br>
a. Static Vs Dynamic Typing<br>
b. Static Vs Dynamic Binding<br>
c. stylish declaration techniques<br>

In [20]:
name = 'Pratik'
print(name)

a = 4567
b = 8765

print(a + b)

Pratik
13332

In [21]:
# Dynamic Typing - used in Python
a = 5

# Static Typing - used in Java, C, C++
int a = 5

SyntaxError: invalid syntax (2876302089.py, line 5)

In [24]:
# Dynamic Binding
a = 4567
print(a)
a = 'Pratik'
print(a)

# Static Binding
int a = 4567

4567
Pratik

We can define variable in below 3 ways

In [25]:
# 1. Assigning all variable seperately in seperate lines
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [26]:
# 2. Assigning all variable seperately in single line
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [27]:
# 3. Assigning all variable a single value in single line using assignment operator
a=b=c= 5
print(a,b,c)

5 5 5

---

#### 4. How to use comments in Python
Comments can be used in three ways

In [28]:
# this is the first line to the comment
# this is the second line to the comment

a = 4 # Assigning value to variable
b = 6 # Assigning value to variable

"""this is the first line to the comment
this is the second line to the comment"""
print(a+b)

10

#### 5. Keywords & Identifiers

In [29]:
# Keywords are something that python has reserved for some special operations. There are close to 32 keywords in python

In [30]:
# Identifiers are names given to different elements in the code, such as variables, functions, classes, and so on
# identiers can not be keyword
# You can't start with a digit
name1 = 'Pratik Kumar'
print(name1)

# You can use underscore as one and only special chars
_ = 'Pratik kumar'
print(_)

Pratik Kumar
Pratik kumar

---

#### 6. How to take user input

In [32]:
input('Enter Your Name: ')

Enter Your Name: Pratik Kumar

'Pratik Kumar'

In [33]:
# take input from users and store them in a variable
fnum = input('enter first number')
snum = input('enter second number')

# add the 2 variables
result = fnum + snum

# print the result
print(result)
print(type(fnum))

enter first number2
enter second number3
23
<class 'str'>

In [34]:
# Since the data type of values seeked from user is always string, therefore we need to forst convert it to 
# integer/decimal to get the correct result
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))

print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number5
enter second number3
<class 'int'> <class 'int'>
8
<class 'int'>

---

#### 7. Type Conversion

In [36]:
# Implicit type conversion
print(7+7.2)
print(type(7),type(7.2))

print(7 + '7')

14.2
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
# Explicit type conversion

# int to str
print(str(5))

# float
float(4)

5

4.0

---

#### 8. Literals
Whatever values we store in a variable is called literal

In [41]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 7.5
float_2 = 1.9e2
float_3 = 3.3e-7

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
7.5 190.0 3.3e-07
3.14j 3.14 0.0

In [43]:
# binary
# We can seperately print real and imiginary part of complex number

x = 3.14j
print(x.real)
print(x.imag)

0.0
3.14

In [46]:
string = 'I love Python'
strings = "I love Python"
char = "Pratik"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923" # u represents unicode
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

I love Python
I love Python
Pratik
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [47]:
# True and False stores the value of 1 and 0 respectively
a = True + 49
b = False + 49

print("a:", a)
print("b:", b)

a: 50
b: 49

In [48]:
# None is a data type that we declare if we will be using it later
z = None
print(z)

None