### A) Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

### B) If else statement
### C) Modules in Python
### D) Loops in Python

---

### A) Operators

##### 1. Arithmetic Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

---

##### 2. Relational operators

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

---

##### 3. Logical Operators

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

---

##### 4. Bitwise Operator

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

---

##### 5. Assignment Operator

In [ ]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

---

##### 6. Membership Operator

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

---

##### Taking input from user

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

---

### B) If-else statement in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

---

In [ ]:
# min of 3 number

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

---

In [ ]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

---

### C) Modules in Python

- math
- keywords
- random
- datetime

---

In [ ]:
# math
import math

math.sqrt(196)

---

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

---

In [ ]:
# random
import random
print(random.randint(1,100))

---

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

---

In [2]:
help('modules')

Please wait a moment while I gather a list of all available modules...

KeyboardInterrupt

---

### D) Loops in Python

- Need for loops
- While Loop
- For Loop

---

##### 1. while loop

---

In [3]:
# While loop example -> program to print the table
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

---

In [4]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

---

In [5]:
# Guessing game
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo3
galat!guess higher
guess karo30
galat!guess higher
guess karo50
galat!guess lower
guess karo45
galat!guess lower
guess karo40
galat!guess lower
guess karo38
galat!guess lower
guess karo35
correct guess
attempts 7

---

##### 2. for loop

---

In [6]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

---

In [9]:
# Code Used in the session
# Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% 
# per year. You have to write a program to find out the population at the end of each of the last 10 years.
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

---

###### 3. Sequence sum

1/1! + 2/2! + 3/3! + ...

In [11]:
# code here
num = int(input("Enter a number: "))

den = 1
sum = 0
for i in range(1, num+1):
    num = i
    den = den*i
    sum = sum + (num/den)
print(sum)

Enter a number: 5
2.708333333333333

---

###### 4. Nested Loops

In [14]:
# Program - Unique combination of 1,2,3,4
list = [1,2,3,4]

for i in list:
    for j in list:
        print((i,j), end = ';')

(1, 1);(1, 2);(1, 3);(1, 4);(2, 1);(2, 2);(2, 3);(2, 4);(3, 1);(3, 2);(3, 3);(3, 4);(4, 1);(4, 2);(4, 3);(4, 4);

---

###### 5. Pattern 1

*<br>
**<br>
*** <br>
**** <br>

In [15]:
num = int(input("Enter a number: "))

for i in range(1, num+1):
    print("*"*i)

Enter a number: 4
*
**
***
****

In [22]:
num = int(input("Enter a number: "))

for i in range(1, num+1):
    for j in range(1, i+1):
        print("*", end = '')
    print()

Enter a number: 4
*
**
***
****

---

##### 6. Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [27]:
num = int(input("Enter a number: "))

for i in range(1, num+1):
    for j in range(1, i+1):
        print(j, end = '')
    for k in range(i-1, 0, -1):
        print(k, end='')
    print()

Enter a number: 4
1
121
12321
1234321

---

##### 7. Loop Control Statement

- Break
- Continue
- Pass

---

In [28]:
# Break demo
for i in range(1,10):
  if i == 5:
    break

  print(i)

1
2
3
4

---

In [29]:
# Break example (Linear Search) -> Prime number in a given range
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range10
enter upper range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

---

In [30]:
# Continue demo
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

---

In [31]:
# Pass demo
for i in range(1,10):
  pass